{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Productos</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Codigo Producto</th>
                <td>{{ entity.numDocumento }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Version</th>
                <td>{{ entity.apellido }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('clientes') }}">
            Volver a la Lista
        </a>
    </li>
    <li>
        <a href="{{ path('clientes_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
